<%= form_for(@productcategory) do |f| %>
  <% if @productcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@productcategory.errors.count, "error") %> prohibited this productcategory from being saved:</h2>

      <ul>
      <% @productcategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.text_field :name%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
